.header {
  background-image: url(/src/public/images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;


  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__bottom {
    padding-bottom: 65px;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-style: bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;
  }

  @include onTablet {
    &__title {
      font-size: 48px;
    }
  }

  @include onDesktop {
    &__title {
      font-size: 56px;
    }
  }
}

.favicon {
  object-fit: cover;
}

