.top-bar {
  padding-block: 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include onTablet {
    padding-block: 32px;
  }

  @include onDesktop {
    padding-block: 36px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__logo {
    display: flex;
    width: 125px;
    height: 16px;

    @include onTablet {
      height: 24px;
      width: 172px;
    }

    @include onDesktop {
      height: 24px;
      width: 172px;
    }

  @include hover(transform, scale(1.2));
  }
}
