/* #region page */
.page {
  font-family: "Space Grotesk", sans-serif;
  color:#292929;
  font-size: 16px;
  line-height: 140%;

  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
}

.page__menu{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

/* #endregion */

 /* #region header */

.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(/images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__bottom {
  padding: 0 20px 40px;
}

.header__title {
  margin: 0;
  font-weight: 700;
  font-style: bold;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;

}

/* #endregion */

/* #region menu */
.top-bar {
  padding: 24px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.top-bar__icons {
  display: flex;
  gap: 24px;
}

.top-bar__logo {
  display: flex;
}

.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #E5E6E8;
  font-weight: 700;
  text-transform: uppercase;
}

.menu__top {
  margin-bottom: 32px;
}

.menu__nav {
  margin-bottom: 48px;
}

.menu__content {
  padding-inline: 20px;
}

.menu__phone-number {
  color: inherit;
  text-decoration: none;
  display: block;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.menu__call-to-order {
  display: block;
  padding-bottom: 4px;
  width: fit-content;
  border-bottom: 1px solid #292929;

  color: inherit;
  text-decoration: none;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 2px;
}

/* #endregion */

/* #region nav */
.nav__link {
  color: inherit;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  vertical-align: middle;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* #endregion */

 /* #region icon */
.icon{
  display: block;
  height: 24px;
  width: 24px;
}

.icon--phone{
  background-image: url(/src/images/icons/icon-phone.png);
}

.icon--menu{
  background-image: url(/src/images/icons/icon-burger-menu.png);
}

.icon--close {
  background-image: url(/src/images/icons/icon-close.png);
}

 /* #endregion */
